server {
    listen 9070 ssl;
    server_name api.open-language.com;

    ssl_certificate /etc/nginx/server.crt;
    ssl_certificate_key /etc/nginx/server.key;

    # [dev] 当在页面测试时，浏览器会请求favicon.ico
    # location /favicon.ico{
    #     alias /nginx/favicon.ico;
    #     access_log off;
    # }

    # 后端api
    location / {
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        # proxy_pass http://interview-backend:8000;
    }

    # 本地文件存储
    location /files/ {
        alias /nginx/files/;
        access_log on;
    }
}

# debug调试端口，取消https访问；后续https提供之后，删除
# server {
#     listen 8080;
    
#     location /favicon.ico{
#         alias /nginx/favicon.ico;
#         access_log off;
#     }

#     # 后端api
#     location / {
#         proxy_set_header Host $http_host;
#         proxy_set_header X-Real-IP $remote_addr;
#         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#         proxy_set_header X-Forwarded-Proto $scheme;
#         proxy_pass http://interview-backend:8000;
#     }

#     # 本地文件存储
#     location /files/ {
#         alias /nginx/files/;
#         access_log on;
#     }
# }